@import "tailwindcss";

@theme {
  --color-primary: #020202;
  --color-secondary: #ef4444;
  --color-accent: #f59e0b;
  --color-background: #f9fafb;
  --color-text: #1f2937;
  --color-hover: #93c5fd;

  --animate-scroll-left: scroll-left 15s infinite linear;

  @keyframes scroll-left {
    from {
      translate: 0;
    }
    to {
      translate: -100%;
    }
  }
}

.dark {
  --color-primary: #e5e7eb;
  --color-secondary: #ef4444;
  --color-accent: #f59e0b;
  --color-background: #0f172a;
  --color-text: #1f2937;
  --color-hover: #3730a3;
}

#html {
  min-height: 100dvh;
}

ul {
  list-style-type: none;
}

a,
button {
  cursor: pointer;
}
